# home folder garbage

.cache/
.cargo/
.choosenim/
.dbus/
.gnupg/
.local/
.mozilla/
.nimble/
.pki/
.rustup/
.ssh/
.var/
.vscode-oss/
Desktop/
Downloads/
go/
Projects/
RandomGit/
.bash_history
.bash_logout
.bash_profile
.bashrc
.calc_history
.fehbg
.gtkrc-2.0
.lesshsQ
.lesshst
.mksh_history
.python_history
.wget-hsts
.Xauthority
.xinitrc

# configs that i have left to the default or those who i dont want to share
.config/dconf/
.config/font-manager/
.config/htop/
.config/micro/
.config/Mousepad/
.config/nemo/
.config/neofetch/
.config/nwg-look/
.config/VSCodium/
.config/xsettingsd/