.avalonia-build-tasks
.gsd-keyboard.settings-ported
.mono
BetterDiscord
BetterDiscord Installer
GIMP
JetBrains
KDE
KeePass
Meltytech
Mesen2
Mousepad
OpenTabletDriver
Pinta
PlasmaDiscoverUpdates
PlasmaUserFeedback
PrismLauncherrc
QtProject.conf
SpeedCrunch
Trolltech.conf
VSCodium
VirtualBox
X11
akregatorrc
alacritty
aseprite
autostart
baloofilerc
bat
bluedevilglobalrc
btop
cef_user_data
celluloid
chromium
coc
content_shell
create-next-app-nodejs
croc
dconf
denise
discordcanary
discoverrc
doom
dotmgr
drkonqirc
dunst
emaildefaults
environment.d
flameshot
font-manager
fontconfig
ghb
glade.conf
glib-2.0
gnome-boxes
gnome-session
godot
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gxkb
gzdoom
helix
home-manager
htop
hypr
i3bar-river
i3status-rust
ibus
inkscape
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kclockdrc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kdedefaults
kdeglobals
kdenlive-layoutsrc
kdenliverc
keepassxc
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kitty
kmixrc
konsolerc
konsolesshconfig
kritadisplayrc
kritarc
krulerrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libreoffice
libvirt
lxqt
menus
micro
mimeapps.list
mpv
nemo
neofetch
nextjs-nodejs
nnn
nvim
nwg-bar
nwg-dock
nwg-look
okularpartrc
okularrc
old
org.ukui
pacmanfile
pavucontrol-qt
pavucontrol.ini
picom
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
pnmixer
powermanagementprofilesrc
procps
pulse
qBittorrent
qt5ct
qtile
qutebrowser
qutebrowserrc
river
s-tui
session
soffice.binrc
spectaclerc
spectrwm
suckless
sway
sxhkd
systemd
systemmonitorrc
systemsettingsrc
thorium
user-dirs.dirs
user-dirs.locale
vice
vimclap
vlc
volumeicon
wal
wayst
wlogout
xclicker.conf
xfce4
xonsh
xsettingsd
yambar
zsh
